<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        </title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="font-montserrat text-sm bg-white">
        <div class="flex min-h-screen">

            {% if showLeftMenu is not defined or showLeftMenu %}
                {% include 'layout/parts/left-menu.html.twig' %}
            {% endif %}

            <!-- /main content -->
            <main class="flex-1">
                {% block content %}{% endblock %}
            </main>

            {% if showRightSidebar is not defined or showRightSidebar %}
                {% include 'layout/parts/right-sidebar.html.twig' %}
            {% endif %}

        </div>
    </body>
</html>
