<!-- Actor -->
<li class="relative rounded-xl overflow-hidden transition cursor-pointer hover:scale-105 hover:opacity-90 hover:shadow-md">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Joseph_Gordon-Levitt_by_Gage_Skidmore_2.jpg/440px-Joseph_Gordon-Levitt_by_Gage_Skidmore_2.jpg" class="object-cover h-full w-full -z-10" alt="">
    <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-end">
        <div class="self-center flex flex-col items-center space-y-2">
            <span class="capitalize text-white font-medium drop-shadow-md">Joseph Gordon-Levitt</span>
            <span class="text-gray-100 text-xs truncate">Arthur, l'organisateur</span>
        </div>
    </div>
</li>
<!-- /Actor -->